*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

html {
    transition: all 125ms ease-in-out;
}

body {
    font-family: 'Rubik' !important;
}

.flex {
    display: flex;
}

.width-100 {
    width: 100%;
}

.column {
    flex-direction: column;
}

.cursor-p {
    cursor: pointer;
}

.cursor-d {
    cursor: default;
}

.d-none {
    display: none;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.p-16 {
    padding: 16px;
}

.flex-centering-result {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overflow-hidden {
    overflow-x: hidden;
}

/* 
gray-bg: #f7f7f7
acid-green: #4ebf16
 */
.bg-acid-green {
    background-color: #4ebf16 !important;
}

.bg-gray {
    background-color: #f7f7f7;
    /* height: 100%; */
    height: 28rem;
}

.bs-success-acid {
    background-color: #4ebf16 !important;
    opacity: 1;
}

.page {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}

.card-container {
    justify-content: center;
    height: 100%;
    max-height: 28rem;
    width: 100%;
    max-width: 56rem;
}

.card-nav {
    align-items: center;
    height: 100%;
    width: 100px;
    background-color: rgb(50, 50, 102);
    color: white;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.card-nav-img {
    width: 50px;
    margin-top: 18px;
}

.nav-item-container {
    height: 17rem;
    justify-content: center;
    font-size: 14px;
}

.nav-item {
    margin: 6px 0px;
    width: 100%;
    border-left: 4px solid transparent;
    padding: 0 4px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 5px;
}

.nav-item:hover {
    /* border-left: 4px solid white; */
    border: 2px solid white;
}

.selected-nav-item {
    background-color: white;
    color: rgb(50, 50, 102);
    /* border-left: 4px solid white; */
}

.card {
    width: 100%;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.card-content {
    height: 100%;
    justify-content: space-between;
}

.card-img-startscreen {
    height: 286px;
}

.card-body-game {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.answer {
    border: 2px solid transparent;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px !important;
}

.space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nextPage {
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
}

.buttons {
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.selected:hover {
    /* background-color: rgb(248, 248, 248); */
    border: 2px solid rgb(206, 206, 206);
}

.button-container {
    justify-content: flex-end;
}

.c-white {
    color: white !important;
}

.bar {
    bottom:0;
    left: 0;
    width: 100%;
    border-radius: 0 !important;

}

.show-progress-bar {
    display: block;
}

/* ########## START SCREEN ########## */
.start-screen {
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url('img/brainbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    border-top-right-radius: 20px;
}

.start-screen span {
    font-size: 14px;
    font-weight: lighter;
}

/* ########## END SCREEN ########## */
.end-screen {
    background-image: none;
    background-color: #f7f7f7;
    justify-content: space-around;
}

.end-screen span {
    font-size: 20px !important;
}

.brain-result {
    width: 108px;
}

.trophy {
    /* transform: translateX(122px); */
    right: 0px;
    top: 96px;
    width: 121px;
}

@keyframes slideIn {
    from {
        transform: translateX(122px);
    } 
    to {
        transform: translateX(0px);
    }
}

.show-trophy {
    animation: 1s slideIn ease-in-out;
}

